{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Açougue</title>
</head>
<body style="width: 1200px; margin: 0px auto;">
    {% for carne in carnes %}
    <div style="width: 250px; display: inline-block">
    <h3>Nome da carne: {{carne.nome_da_carne}}</h3>
        <p>Tipos da carne: {{carne.tipos_da_carne}}</p>
        <p>Data do corte: {{carne.data_do_corte}}</p>
        <p>Fazenda que vendeu a carne: {{carne.fazenda_que_vendeu_a_carne}}</p>
        <hr>
        <p>Preco: {{carne.preco}}</p>
        <hr> 
    </div>
    {% endfor %}
</body>
</html>