{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livraria</title>
</head>
<body background="{% static 'home/images/fundo.png'%}">
    <div style="width: 900px; margin: 20px auto;">
        <img width="115" src="{% static 'home/images/logo.png'%}">
        <a href="#" style="margin-left: 50%;">Home</a> |
        <a href="#">Quem Somos</a> |
        <a href="#">Contato</a>
    </div>
    <div style="width: 900px; margin: -13px auto;">
        <img width="620" src="{% static 'home/images/capa.png' %}">
    </div>
    <div style="width: 900px; margin: 0px auto;">
        {% for livro in livros %}
        <div style="width: 250px; display: inline-block">
            <h3>Nome do Livro: {{livro.nome_do_livro}}</h3>
            <p>Ano da publicaçao: {{livro.ano_da_publicacao}}</p>
            <p>Quantidade de paginas: {{livro.quantidade_de_paginas}}</p>
            <p>Nome do Autor: {{livro.nome_do_autor}}</p>
            <p>Nome da editora: {{livro.nome_da_editora}}</p>
            <hr>
            <p>Preço: {{livro.preco}}</p>
            <hr>
        </div>
        {% endfor %}
    </div>
    
</body>
</html>